* {
    
    outline: 1px solid black;
    text-align: center;
    text-color: white;
  }
body{
    margin: 0;
}

  .container{
    background: papayawhip;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

  .cde {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    min-height: 20vh;
    
  }
  .cde div{
    flex-grow: 1;
  }
main {
flex-grow: 2;
min-height: 50vh;
width: 100%;
}
  header, footer {
    max-height: 15vh ;
   flex-grow: 1;
  }


  @media (min-width:600px){

* {
    color: black;
}
 .container {
    background: pink;
    flex-direction: row;
    flex-wrap: wrap;
 }
 header {
    width: 100%;
    min-height: 20vvh;
 }
 .wrapper {
    flex-grow: 2;
 }

 footer {
    min-height: 100vh;
 }
  }