body {
  background: blanchedalmond;
  outline: 1px pink;
}

* {
  border: 1px solid pink;

}

.a {
  min-height: 20vh;
  text-align: center;
}

.b {
  min-height: 50vh;
  text-align: center;
}
.c{
  min-height: 20vh;
  text-align: center;
}

@media (min-width:600px) {
.a{
  width: 100%;
}
div[class$='row']  {
  display: flex;
}

.b{
 width: 70%;
}
.c {
 width: 30%;
}                                  
}